{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section>
    <div class="overlay"></div>
    <div class="container-fluid margin-top-div">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <hr>
                <h2 class="logo-font mb-4 text-center">Contact Us! <i class="fa-regular fa-comment"></i></h2>
                <hr>

                <form class="mt-0" method="POST" action="{% url 'contact' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-black text-uppercase font-weight-bolder py-2">Submit</button>                    
                  </form>

            </div>
        </div>
    </div>
</section>
{% endblock %}