<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-3" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-3" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Earrings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="earrings-link">
                <a href="" class="dropdown-item">Silver Jewellery</a>
                <a href="" class="dropdown-item">Gold Jewellery</a>
                <a href="" class="dropdown-item">Full Collection</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-3" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bracelets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="blacelets-link">
                <a href="" class="dropdown-item">Silver Jewellery</a>
                <a href="" class="dropdown-item">Gold Jewellery</a>
                <a href="" class="dropdown-item">Full Collection</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-3" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Necklaces
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="neacklaces-link">
                <a href="" class="dropdown-item">Silver Jewellery</a>
                <a href="" class="dropdown-item">Gold Jewellery</a>
                <a href="" class="dropdown-item">Full Collection</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-3" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="rings-link">
                <a href="" class="dropdown-item">Silver Jewellery</a>
                <a href="" class="dropdown-item">Gold Jewellery</a>
                <a href="" class="dropdown-item">Full Collection</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sets-link">
                <a href="" class="dropdown-item">Silver Jewellery</a>
                <a href="" class="dropdown-item">Gold Jewellery</a>
                <a href="" class="dropdown-item">Full Collection</a>
            </div>
        </li>


    </ul>
</div>