<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-3" href="#" id="earrings-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Earrings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="earrings-link">
                <a href="{% url 'products' %}?category=silver_earrings" class="dropdown-item">Silver Earrings</a>
                <a href="{% url 'products' %}?category=gold_earrings" class="dropdown-item">Gold Earrings</a>
                <a href="{% url 'products' %}?category=gold_earrings,silver_earrings" class="dropdown-item" class="dropdown-item">Full Earrings Collection</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-3" href="#" id="bracelets-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bracelets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="blacelets-link">
                <a href="{% url 'products' %}?category=silver_bracelets" class="dropdown-item">Silver Bracelets</a>
                <a href="{% url 'products' %}?category=gold_bracelets" class="dropdown-item">Gold Bracelets</a>
                <a href="{% url 'products' %}?category=silver_bracelets,gold_bracelets" class="dropdown-item">Full Bracelets Collection</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-3" href="#" id="necklaces-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Necklaces
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="neacklaces-link">
                <a href="{% url 'products' %}?category=silver_necklaces" class="dropdown-item">Silver Necklaces</a>
                <a href="{% url 'products' %}?category=gold_necklaces" class="dropdown-item">Gold Necklaces</a>
                <a href="{% url 'products' %}?category=silver_necklaces,gold_necklaces" class="dropdown-item">Full Necklaces Collection</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-3" href="#" id="rings-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="rings-link">
                <a href="{% url 'products' %}?category=silver_rings" class="dropdown-item">Silver Rings</a>
                <a href="{% url 'products' %}?category=gold_rings" class="dropdown-item">Gold Rings</a>
                <a href="{% url 'products' %}?category=silver_rings,gold_rings" class="dropdown-item">Full Rings Collection</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="sets-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sets-link">
                <a href="{% url 'products' %}?category=silver_sets" class="dropdown-item">Silver Sets</a>
                <a href="{% url 'products' %}?category=	gold_sets" class="dropdown-item">Gold Sets</a>
                <a href="{% url 'products' %}?category=silver_sets,gold_sets" class="dropdown-item">Full Sets Collection</a>
            </div>
        </li>
    </ul>
</div>