{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section>
    <div class="overlay"></div>
    <div class="container-fluid margin-top-div">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6 col-lg-8">
                <hr>
                <h2 class="logo-font mb-4 text-center">Wishlist <i class="fa-regular fa-heart"></i></h2>
                <hr>
                {% if wishlist_items %}
                <ul class="list-group margin-bottom-div">
                    {% for item in wishlist_items %}
                    <li class="list-group-item position-relative">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-sm-4">
                                <a href="{% url 'product_detail' item.product.id %}">
                                    {% if item.product.image %}
                                    <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    {% else %}
                                    <img class="w-100" src="{{ MEDIA_URL }}product_placeholder.png" alt="{{ item.product.name }}">
                                    {% endif %}
                                </a>
                                Added on: {{ item.created_at|date:"F j, Y" }}
                            </div>
                            <div class="col-lg-6 col-sm-4 text-left">
                                <p class="my-0">{{ item.product.name }}</p>
                            </div>
                        </div>
                        <form method="post" action="{% url 'toggle_favorite' item.id %}" class="bookmark-form">
                            {% csrf_token %}
                            <button type="submit" class="btn p-0 border-0 bg-transparent">
                                {% if item.is_favorite %}
                                <span>Favorite</span>
                                <i class="fas fa-bookmark bookmark-icon text-green"></i> <!-- Alterado aqui -->
                                {% else %}
                                <span>Is it your favorite?</span>
                                <i class="far fa-bookmark bookmark-icon text-green"></i> <!-- Alterado aqui -->
                                {% endif %}
                            </button>
                        </form>
                        <a href="{% url 'remove_from_wishlist' item.product.id %}" class="wish-delete remove-item-fav">
                            <i class="fas fa-trash wishlist-icon"></i> Remove Item
                        </a>
                    </li>
                    {% endfor %}
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg margin-bottom-div margin-top-div">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                </ul>
                {% else %}
                <p class="lead mb-5">Looks like your wishlist is currently empty. Explore our collection of jewelry and start curating your wishlist today!</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg margin-bottom-div margin-top-div">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}
